<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>CheckCodeDemo</display-name>
   <!-- 配置DispatchcerServlet -->  
    <servlet>  
        <servlet-name>springDispatcherServlet</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
        <!-- 配置Spring mvc下的配置文件的位置和名称 -->  
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>classpath:springmvc.xml</param-value>  
        </init-param>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>springDispatcherServlet</servlet-name>  
        <url-pattern>/</url-pattern>  
    </servlet-mapping> 
   
   <filter>
       <filter-name>testFilter</filter-name>
       <filter-class>com.check.filter.TestFilter</filter-class>
   </filter>
   <filter-mapping>
       <filter-name>testFilter</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>
   
     <!-- 注册针对ServletContext对象进行监听的监听器 -->
  <listener>
      <description>ServletContextListener监听器</description>
      <!--实现了ServletContextListener接口的监听器类 -->
      <listener-class>com.check.listener.MyServletContextListener</listener-class>
  </listener>
      <!--注册针对HttpSession对象监听器  -->
  <listener>
       <description>HttpSessionListener监听器</description>
       <listener-class>com.check.listener.MySessionContextListener</listener-class>
  </listener>
  <!-- 配置HttpSession对象1分钟之后进行销毁 -->
  <session-config>
     <session-timeout>1</session-timeout>
  </session-config>
     
  <!-- 注册针对HttpRequesy对象监听 -->
   <listener>   
       <description>HttpRequestListner监听器</description>
       <listener-class>com.check.listener.MyRequestContextListener</listener-class>
   </listener>
   <listener>
     <description>MyServletContextAttributeListener监听器</description>
     <listener-class>com.check.listener.MyServletContextAttributeListener</listener-class>
  </listener>
  <welcome-file-list>
     <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>